SUBSYSTEM=="gpio", KERNEL=="gpio*", ACTION=="add",\
 RUN+="/bin/chown root:root /sys%p/value",\
 RUN+="/bin/chmod 0660 /sys%p/value",\
 RUN+="/bin/chsmack -a * /sys%p/value"
SUBSYSTEM=="gpio", KERNEL=="gpio*", ACTION=="add",\
 RUN+="/bin/chown root:root /sys%p/direction",\
 RUN+="/bin/chmod 0660 /sys%p/direction",\
 RUN+="/bin/chsmack -a * /sys%p/direction"
SUBSYSTEM=="gpio", KERNEL=="gpio*", ACTION=="add",\
 RUN+="/bin/chown root:root /sys%p/edge",\
 RUN+="/bin/chmod 0660 /sys%p/edge",\
 RUN+="/bin/chsmack -a * /sys%p/edge"

SUBSYSTEM=="i2c-dev", KERNEL=="i2c-*", ACTION=="add", \
 MODE="0660", OWNER="root", GROUP="root", SECLABEL{smack}="*"

SUBSYSTEM=="spidev", KERNEL=="spidev*.*", ACTION=="add", \
 MODE="0660", OWNER="root", GROUP="root", SECLABEL{smack}="*"

SUBSYSTEM=="iio", KERNEL=="iio*", PROGRAM="/bin/sh -c 'find /sys%p/ | grep in_voltage'", ACTION=="add", \
 RUN+="/bin/chown root:root %c", \
 RUN+="/bin/chmod 0660 %c", \
 RUN+="/bin/chsmack -a * %c"
