#
#  Systemd script to Launch AMD
#

[Unit]
Description=Start Application Management Daemon
DefaultDependencies=false
Requires=dbus.socket tizen-system-env.service
After=dbus.socket tizen-system-env.service systemd-tmpfiles-setup.service

[Service]
User=app_fw
Group=app_fw
SmackProcessLabel=System
Capabilities=cap_setuid,cap_setgid,cap_mac_admin,cap_kill,cap_dac_override=i
SecureBits=keep-caps
Type=notify
EnvironmentFile=/run/tizen-system-env
EnvironmentFile=/run/xdg-root-env
ExecStart=/usr/bin/amd
OOMScoreAdjust=-100
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
