[Unit]
Description=Application Management Daemon Socket
DefaultDependencies=false
Before=sockets.target

[Socket]
ListenStream=/run/aul/daemons/.amd-sock
SocketMode=0777
DirectoryMode=0777

[Install]
WantedBy=sockets.target
