[Unit]
Description=Alarm server

[Service]
User=app_fw
Group=app_fw
BusName=org.tizen.alarm.manager
Type=dbus
ExecStart=/usr/bin/alarm-server
SmackProcessLabel=System
Capabilities=cap_sys_time=i
SecureBits=keep-caps
TimeoutStopSec=3s
Restart=on-failure
RestartSec=0

[Install]
WantedBy=multi-user.target

