[Unit]
Description=Service to run bt-stack-down.sh script to terminate BT functions

[Service]
User=network_fw
Group=network_fw
Type=oneshot
SmackProcessLabel=System
SecureBits=keep-caps
Capabilities=cap_kill=i
ExecStart=/usr/etc/bluetooth/bt-stack-down.sh
