[Unit]
Description=Service to run BT HCI logdump

[Service]
User=network_fw
Group=network_fw
SmackProcessLabel=System
Type=oneshot
ExecStart=/usr/etc/bluetooth/bt-hci-logdump.sh %I
StandardOutput=journal+console
StandardError=inherit
