[Unit]
Description=Bluetooth service (Bluez)
Documentation=man:bluetoothd(8)
After=multi-user.target

[Service]
User=network_fw
Group=network_fw
Type=dbus
BusName=org.bluez
ExecStart=/usr/libexec/bluetooth/bluetoothd -d -C
Capabilities=cap_net_admin,cap_net_bind_service,cap_dac_override=eip
SecureBits=keep-caps
SmackProcessLabel=System
KillMode=process

[Install]
WantedBy=multi-user.target
