[Unit]
Description=Bluetooth framework Core
After=multi-user.target

[Service]
User=network_fw
Group=network_fw
SmackProcessLabel=System
SupplementaryGroups=priv_mediastorage priv_externalstorage dialout
Type=dbus
BusName=org.projectx.bt_core
ExecStart=/usr/bin/bt-core
KillMode=process

[Install]
WantedBy=multi-user.target
