[Unit]
Description=Buxton2 Configuration Service
DefaultDependencies=no
After=systemd-tmpfiles-setup.service buxton2.socket cynara.socket

[Service]
SmackProcessLabel=System
ExecStart=/usr/sbin/buxton2d -f
User=buxton
Group=buxton
LimitNOFILE=16384

[Install]
WantedBy=basic.target
