[Unit]
Description=Start the Central Key Manager
DefaultDependencies=no
RequiresMountsFor=/opt

[Service]
User=key-manager
Group=security_fw
SupplementaryGroups=key-manager
SmackProcessLabel=System
Type=notify
ExecStart=/usr/bin/key-manager
Sockets=central-key-manager-api-storage.socket
Sockets=central-key-manager-api-control.socket
Sockets=central-key-manager-api-ocsp.socket
Sockets=central-key-manager-api-encryption.socket
EnvironmentFile=-/etc/sysconfig/central-key-manager
RuntimeDirectory=key-manager
NotifyAccess=main

[Install]
WantedBy=multi-user.target
