[Unit]
Wants=cert-server.service
Before=cert-server.service

[Socket]
ListenStream=/tmp/.cert-server.socket
SocketUser=security_fw
SocketGroup=security_fw
SocketMode=0777
Service=cert-server.service

[Install]
WantedBy=sockets.target
