[Unit]
Description=cert server for cert-svc managing root ssl certs
Wants=cert-server.socket

[Service]
ExecStart=/usr/bin/cert-server
User=security_fw
Group=security_fw
SmackProcessLabel=System
Sockets=cert-server.socket
