[Unit]
Description=Connection service
After=net-config.service
DefaultDependencies=no

[Service]
Type=dbus
User=network_fw
Group=network_fw
BusName=net.connman
Restart=on-failure
SmackProcessLabel=System
ExecStart=/usr/bin/connmand -n --noplugin vpn
StandardOutput=null
Capabilities=cap_setgid,cap_net_admin,cap_net_bind_service,cap_net_broadcast,cap_net_raw,cap_dac_override=i
SecureBits=keep-caps

[Install]
WantedBy=multi-user.target
