[Unit]
Description=Data Provider Master

[Service]
User=app_fw
Group=app_fw
BusName=org.tizen.data_provider_service
Type=dbus
SmackProcessLabel=System
Capabilities=cap_dac_override=i
SecureBits=keep-caps
ExecStart=/usr/bin/data-provider-master
TimeoutStopSec=3s
Restart=on-failure
RestartSec=0

[Install]
WantedBy=multi-user.target
