[Socket]
ListenStream=/run/device-certificate-manager.socket
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@
Service=device-certificate-manager.service

[Unit]
Wants=device-certificate-manager.target
Before=device-certificate-manager.target

[Install]
WantedBy=sockets.target
