[Unit]
Description=System device daemon

[Service]
Type=notify
SmackProcessLabel=System::Privileged
ExecStart=/usr/bin/deviced
Restart=always
RestartSec=0
KillSignal=SIGUSR1
NotifyAccess=main
WatchdogSec=90s

[Install]
WantedBy=multi-user.target
