[Unit]
Description=dlog logging service
After=systemd-tmpfiles-setup.service local-fs.target
Before=basic.target
DefaultDependencies=no

[Service]
Type=notify
#
# Setting TZ prevents logger from repeatedly statting /etc/localtime
# each time it wanted a timestamp, increasing performance.
#
User=log
Group=log
Environment=TZ=:/etc/localtime
SmackProcessLabel=System
ExecStart=/usr/bin/dlog_logger -b 99 -t 600
Capabilities=cap_syslog=i
SecureBits=keep-caps
Restart=always

[Install]
WantedBy=basic.target
