[Unit]
Description=Murphy Resource Policy Daemon

[Service]
ExecStart=/usr/bin/murphyd -t dlog -vvv
Type=forking
KillMode=process
KillSignal=SIGKILL
Restart=always
RestartSec=0
User=multimedia_fw
Group=multimedia_fw
SmackProcessLabel=System

[Install]
WantedBy=multi-user.target
