[Unit]
Description=Package DB Recovery Service
DefaultDependencies=false
Before=ac.service

[Service]
SmackProcessLabel=System
ExecStart=/usr/bin/pkg-db-recovery

[Install]
WantedBy=multi-user.target

