[Unit]
Description=Resize of File System on %f
DefaultDependencies=no
BindsTo=%i.device
After=systemd-fsck@%i.service local-fs.target
Requires=systemd-fsck@%i.service
Before=shutdown.target

[Service]
Type=oneshot
SmackProcessLabel=System
ExecStart=/sbin/resize2fs -f %f
ExecStartPost=/bin/ln -s /dev/null /etc/systemd/system/resize2fs@%i.service
StandardOutput=journal+console
TimeoutSec=0
