[Unit]
Description=sdbd: TCP socket

[Socket]
ListenStream=26101
SmackLabelIPIn=*
SmackLabelIPOut=@
Service=sdbd.service

[Install]
WantedBy=sockets.target
