[Unit]
Description=SMACK merged rules loading
After=local-fs.target
Before=basic.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/dd if=/opt/var/security-manager/rules-merged/rules.merged of=/sys/fs/smackfs/load2 bs=20M
SmackProcessLabel=System::Privileged

[Install]
WantedBy=basic.target

