[Unit]
Description=Start the sound-server

[Service]
ExecStart=/usr/bin/sound_server -S
Restart=no
RestartSec=0
MemoryLimit=50M
User=multimedia_fw
Group=multimedia_fw
SmackProcessLabel=System
SecureBits=keep-caps
Capabilities=cap_lease=i

