[Unit]
Description=System storage daemon
Requires=dbus.socket
After=dbus.service deviced.service

[Service]
Type=notify
SmackProcessLabel=System::Privileged
ExecStart=/usr/bin/storaged
Restart=always
RestartSec=0
KillSignal=SIGUSR1
NotifyAccess=main

[Install]
WantedBy=multi-user.target
