[Unit]
Description=Tiny Login Manager
After=systemd-user-sessions.service systemd-logind.service
Requires=dbus.socket

[Service]
SmackProcessLabel=System
ExecStart=/usr/bin/tlm
CapabilityBoundingSet=~CAP_MAC_ADMIN
CapabilityBoundingSet=~CAP_MAC_OVERRIDE
#StandardInput=tty
#StandardOutput=journal
#StandardError=journal
#TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target
