[Unit]
Description=FFS daemon required by usb-host test suite
StartLimitIntervalSec=0

[Service]
User=system_fw
Group=system_fw
SmackProcessLabel=System
ExecStart=/usr/bin/usb-host-ffs-test-daemon
USBFunctionDescriptors=/etc/deviced/usb-host-test/descs
USBFunctionStrings=/etc/deviced/usb-host-test/strs
