#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=User Manager for UID %i
After=systemd-user-sessions.service

[Service]
User=%i
Group=users
PAMName=systemd-user
Type=simple
ExecStart=-/usr/lib/systemd/systemd --user
SmackProcessLabel=User
Slice=user-%i.slice
KillMode=mixed
Delegate=yes
TasksMax=infinity
Environment=DBUS_SESSION_BUS_ADDRESS=kernel:path=/sys/fs/kdbus/%i-user/bus;unix:path=/run/user/%i/bus
Environment=XDG_RUNTIME_DIR=/run/user/%i
Capabilities=cap_sys_admin,cap_mac_admin,cap_setgid,cap_dac_override=i
SecureBits=keep-caps
TimeoutStartSec=infinity
