#
#  Systemd script to Launch AMD Session agent
#

[Unit]
Description=Start the USER Access Control Agent
DefaultDependencies=false
Requires=enlightenment-user.service
After=enlightenment-user.service

[Service]
ExecStartPre=-/usr/bin/mkdir -p /run/aul/daemons/%U
ExecStartPre=-/usr/bin/chmod 0777 /run/aul/daemons/%U
ExecStartPre=-/usr/bin/mkdir -p /run/aul/apps/%U
ExecStartPre=-/usr/bin/chmod 0700 /run/aul/apps/%U
ExecStartPre=-/usr/bin/mkdir -p /run/aul/dbspace/%U
ExecStartPre=-/usr/bin/chmod 0701 /run/aul/dbspace/%U
ExecStartPre=-/usr/bin/mkdir -p /run/aul/log/widget/%U
ExecStartPre=-/usr/bin/chmod 0777 /run/aul/log/widget/%U
ExecStart=/bin/sh -l -c "/usr/bin/launchpad-process-pool"
Sockets=launchpad-process-pool.socket
