[Unit]
Description=Creating a link file for user to access tbm-drm-auth
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/ln -s /run/tbm-drm-auth /run/user/%U/
