[Unit]
Description=Creating a link file for user to access tdm-socket
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/ln -s /run/tdm-socket /run/user/%U/
